<script>
    var map = L.map('map').setView([28.1999999, 84.100140], 7);

    L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
        maxZoom: 18, minZoom: 6,
        subdomains: 'abcd',
        attribution: 'Map data &copy; <a href="https://openstreetmap.org">OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Tiles by <a href="https://carto.com/attributarticles">CARTO</a>'
    }).addTo(map);

    var locallevel = L.geoJson(null, {
        style: function (feature) {
            return feature.properties && feature.properties.style;
        },
        onEachFeature: handleLayer
    }).addTo(map);

    var district = L.geoJson(null, {
        style: function () {
            return {
                weight: 2,
                color: 'black',
                fillColor: 'none'
            };
        }
    }).addTo(map);

    var province = L.geoJson(null, {
        style: function () {
            return {
                weight: 2,
                color: 'red',
                fillColor: 'none'
            };
        }
    }).addTo(map);

    function loadBoundary(url, layer, objectName) {
        fetch(url)
            .then(function (response) { return response.json(); })
            .then(function (data) {
                var features = topojson.feature(data, data.objects[objectName]);
                layer.addData(features);
            })
            .catch(function (err) {
                console.error('Failed to load ' + url, err);
            });
    }

    loadBoundary('./css/municipality.topojson', locallevel, 'collection');
    loadBoundary('./css/district.topojson', district, 'collection');
    loadBoundary('./css/province.topojson', province, 'collection');

    L.control.layers(null, {
        "Local Levels": locallevel,
        "Districts": district,
        "Provinces": province
    }).addTo(map);

    function handleLayer(feature, layer) {
        var p = feature.properties;
        layer.bindTooltip(
            'State Code: ' + p.STATE_CODE + '<br>' +
            'Municipality: ' + p.GaPa_NaPa + '<br>' +
            'Type: ' + p.Type_GN + '<br>' +
            'District: ' + p.DISTRICT,
            { sticky: true }
        );
        layer.bindPopup(
            '<strong>' + p.GaPa_NaPa + '</strong><br>' +
            p.Type_GN + ', ' + p.DISTRICT
        );

        layer.setStyle({
            fillColor: '#D5E3FF',
            fillOpacity: 1,
            color: '#555',
            weight: 1,
            opacity: 0.5
        });

        layer.on({
            mouseover: enterLayer,
            mouseout: leaveLayer
        });
    }

    function enterLayer(e) {
        var layer = e.target;
        layer.bringToFront();
        layer.setStyle({
            weight: 2,
            opacity: 1
        });
    }

    function leaveLayer(e) {
        var layer = e.target;
        layer.bringToBack();
        layer.setStyle({
            weight: 1,
            opacity: .5
        });
    }
</script>
<div class="footer" align="center">
    Made by <a href=http://oknp.org target="_blank">Open Knowledge Nepal</a> - “Liberating Knowledge for
    Opportunity”</br>
    Template by <a href=http://diezcami.github.io target="_blank">Camille Diez</a>, Powered by <a
        href=http://jekyllrb.com target="_blank">Jekyll</a>
</div>