<div class="site-header">
    <h1><a href="{{ "/" | prepend: site.baseurl }}">Local Boundaries</a></h1>
    <nav class="site-nav">
        <a class="page-link" href="{{ "/" | prepend: site.baseurl }}">Home</a>
        <a class="page-link" href="{{ "/map/" | prepend: site.baseurl }}">Map</a>
        <a class="page-link" href="{{ "/download/" | prepend: site.baseurl }}">Download</a>
        <a class="page-link" href="{{ "/about/" | prepend: site.baseurl }}">About</a>
        <a class="page-link" href="https://github.com/openknowledgenp/localboundaries" target="_blank" rel="noopener">GitHub</a>
    </nav>
</div>